<!-- public/views/home.html -->

<div ng-controller="MainController">

    <div class="jumbotron login" id='page-login' ng-show="showLogin">
        <h2>Welcome to Megameter!</h2>
        <input input class="form-control" id='username' ng-model="userName">
        <button class="form-control" id='login' ng-click="onLogin()">Click to Login</button>
        
    </div>
        
    <div class="jumbotron lobby" id='page-lobby' ng-show="showLobby">
        <div>
            <h1>Welcome, {{userName}}!</h1>
            <h2>Active games</h2>
            <div id='gamesList'>
            
                No active games
            </div>
            
            <h2>Online players</h2>    
            <div id='userList'>
            
                No users online
            </div>
            
            <div id='aiList'>
                <a href="/play" class="btn btn-default">Easy AI</a>
            </div>
        </div>
    </div>
    
    <div id='page-game' ng-show="showGame">
        
        <div class="outerContainer">

            <div id="playerContainer">
            <!-- usage of the DropTarget directive -->
                <div id="carStatusBox" dd-drop-target="true">

                    <!--Just want the last card to show-->
                    <span class="droppedItem"><img src="{{carStatus[carStatus.length-1].img}}"></span>

                </div>

                <div id="kmBox">

                </div>

                <div id="safetyBox"></div>

                <div id="speedBox"></div>

            </div>

            <div id="opponentContainer">

               <div id="oppStatusBox"></div>

               <div id="kmBox"></div>

               <div id="safetyBox"></div>

               <div id="oppSpeedBox"></div>


            </div>

            <div id="handContainer">
                <div id="items">

                    <!-- usage of the Draggable directive -->

                    <span ng-repeat="item in hand">
                        <span dd-draggable="true" class="item" itemid="{{item.id}}"><img src="{{item.img}}"></span>
                    </span>

                </div>
                
                <div id="discard"></div>

            </div>


        </div>
        
        <div>
            
            <div class="form-group">
                <textarea class="form-control" id='gameTextArea' ng-model="console" cols = '120' rows = '30' readonly></textarea>
                <input class="form-control" placeholder="Card index to play" id='cardToPlay' ng-model="cardIndex" ng-show="isPlayerTurn">
                <input class="form-control" placeholder="Area to play card" id='areaToPlay' ng-model="areaIndex" ng-show="isPlayerTurn">
                <button class="form-control" id='submitPlay' ng-show="isPlayerTurn" ng-click="submitPlay()">Submit</button>
            </div>
        </div>
        
        
    </div> 
</div>


