<!-- public/views/home.html -->

<div>

    <div class="jumbotron login" id='page-login' ng-show="showLogin">
        <h2>Welcome to Megameter!</h2>
        <input input class="form-control" id='username' ng-model="userName">
        <button class="form-control" id='login' ng-click="onLogin()">Click to Login</button>
        
    </div>
        
    <div class="jumbotron lobby" id='page-lobby' ng-show="showLobby">
        <div>
            <h1>Welcome, {{userName}}!</h1>
            <h2>Active games</h2>
            <div id='gamesList'>
            
                No active games
            </div>
            
            <h2>Online players</h2>    
            <div id='userList'>
            
                No users online
            </div>
            
            <div id='aiList'>
                <a href="/play" class="btn btn-default">Easy AI</a>
            </div>
        </div>
    </div>
    
    <!-- THE MAIN GAME VIEW -->
    
    <div id='page-game' ng-show="showGame">
        
        <div class="outerContainer">
            <div class="nameContainer">
                <div id="userName" ng-style="userTurnStyle">{{userName}} Score: {{userScore}}</div>
            
                <div id="opponentName" ng-style="opponentTurnStyle">{{opponentName}} Score: {{opponentScore}}</div> 
                
            </div>                                
                                                                          
            <div id="playerContainer">
                
            <!-- usage of the DropTarget directive -->
                <div id="carStatusBox" dd-drop-target="true">

                    <!--Just want the last card to show-->
                    <span class="droppedItem"><img src="{{carStatus[carStatus.length-1].img}}"></span>

                </div>

                <div id="kmBox" dd-drop-target="true">
                    <span ng-repeat="card in km">
                        <span class="item" itemid="{{card.id}}"><img src="{{card.img}}"></span>
                    </span>
                </div>

                <div id="safetyBox" dd-drop-target="true">
                    <span ng-repeat="card in safeties">
                        <span class="item" itemid="{{card.id}}"><img src="{{card.img}}"></span>
                    </span>
                </div>

                <div id="speedBox" dd-drop-target="true">
                    <span class="droppedItem"><img src="{{speed[speed.length-1].img}}"></span>
                </div>

            </div>

            <div id="opponentContainer">
                
               <div id="oppStatusBox" dd-drop-target="true">
                   <span class="droppedItem"><img src="{{oppStatus[oppStatus.length-1].img}}"></span>
               </div>

               <div id="kmBox">
                   <span ng-repeat="card in oppKm">
                        <span class="item" itemid="{{card.id}}"><img src="{{card.img}}"></span>
                    </span>
               </div>

               <div id="safetyBox">
                   <span ng-repeat="card in oppSafeties">
                        <span class="item" itemid="{{card.id}}"><img src="{{card.img}}"></span>
                    </span>
               </div>

               <div id="oppSpeedBox" dd-drop-target="true">
                   <span class="droppedItem"><img src="{{oppSpeed[oppSpeed.length-1].img}}"></span>
               </div>


            </div>

            <div id="handContainer">
                <div id="items">

                    <!-- usage of the Draggable directive -->

                    <span ng-repeat="item in hand">
                        <span dd-draggable="true" class="item" itemid="{{item.id}}"><img src="{{item.img}}"></span>
                    </span>

                </div>
                
                <div id="discard" dd-drop-target="true">
                    <span class="droppedItem"><img src="{{discard[discard.length-1].img}}"></span>
                </div>

            </div>


        </div>
        
        
        
        <div>
            
            <div class="form-group">
                <textarea class="form-control" id='gameTextArea' ng-model="console" cols = '120' rows = '30' readonly></textarea>
                <input class="form-control" placeholder="Card index to play" id='cardToPlay' ng-model="cardIndex" ng-show="isPlayerTurn">
                <input class="form-control" placeholder="Area to play card" id='areaToPlay' ng-model="areaIndex" ng-show="isPlayerTurn">
                <button class="form-control" id='submitPlay' ng-show="isPlayerTurn" ng-click="submitPlay()">Submit</button>
            </div>
        </div>
        
        
    </div> 
    
    <!-- END OF MAIN GAME VIEW -->
    
    <!-- MODAL WINDOW LAYOUTS -->
    
    <div bn-modals ng-show="subview" class="m-modals" ng-switch="subview">
       
        <!-- ALERT MODAL -->
        <div ng-switch-when="alert" ng-controller="AlertModalController" class="modal">
            <p> 
                {{ message }} 
            </p>
            
            <p> 
                {{ userName}} Score:  {{ userScore }} 
            </p>
            
            <p> 
                {{ opponentName }} Score: {{ opponentScore }} 
            </p>
            
            
            <p> 
                <a ng-click="close()">Close this window</a>
            </p>
        </div>
        
    </div>
    
    
</div>


