<!-- public/views/play.html -->

<div class="outerContainer">

    <div id="playerContainer">
    <!-- usage of the DropTarget directive -->
        <div id="dropbox" dd-drop-target="true">
            
            <div ng-repeat="item in dropped">
                <div class="item">{{item.id}}. {{item.name}}</div>
            </div>
        </div>
        
    </div>
    
    <div id="opponentContainer">
        
    </div>
    
    <div id="handContainer">
        <div id="items">
           
            
            <!-- usage of the Draggable directive -->
                
            <div ng-repeat="item in items">
                <div dd-draggable="true" class="item" itemid="{{item.id}}">{{item.id}}. {{item.name}}</div>
            </div>
                
                
            
        </div>
        
    </div>
    
</div>